.blog {
    padding: 10px 0 30px;
    background-color: $bg;
    
    &__wrap {
        position: relative;
    }

    &__title {
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        padding: 0 0 30px;
    }

    &__column {
        letter-spacing: $letter-spc;
        max-height: 272px;
        display: block;
        column-count: 2;
        column-gap: 0;
        column-width: 500px;
        border: 1px solid;
        margin: 20px 0;
    }

    &__col {
        letter-spacing: normal;
        vertical-align: middle;
        max-height: 270px !important;
        background-color: #d4a1a7;

        img {
            position: relative;
            width: 100%;
        }

        &-title {
            font-size: 40px;
            font-weight: 400;
            text-align: left;
            padding: 5px 30px 0;
        }

        &-subtitle {
            font-size: 15px;
            font-weight: 300;
            text-align: end;
            padding-right: 20px;
            padding-bottom: 10px;
        }

        &-descr {
            font-size: 15px;
            font-weight: 300;
            padding: 0 20px 23px;
            text-align: left;
        }
    }

    &__column2 {
        letter-spacing: $letter-spc;
        max-height: 300px;
        display: block;
        column-count: 3;
        column-gap: 0;
        column-rule: solid 1px;
        border: 1px solid;
    }

    &__col2 {
        letter-spacing: normal;
        vertical-align: middle;
        max-height: 298px !important;
        background-color: #eb8a3f;

        img {
            position: relative;
            width: 100%;
        }

        &-title {
            font-size: 40px;
            font-weight: 400;
            text-align: left;
            padding: 5px 30px 0;
        }

        &-subtitle {
            font-size: 15px;
            font-weight: 300;
            text-align: end;
            padding-right: 20px;
            padding-bottom: 10px;
        }

        &-descr {
            font-size: 15px;
            font-weight: 300;
            padding: 0 20px 27px;
            text-align: left;
        }
    }
}