.header {
    padding-bottom: 30px;
    background-color: #F1F1F1;
    background-image: url(/images/background.png);

    &__wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        &-list {
            display: flex;
        }

        &-search {
            display: flex;
        }

        &-item {
            padding: 0 25px;

            &-link {
                position: relative;
                color: $grey;
                font-family: $main-ff;
                font-size: 15px;
                font-weight: 400;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: $black;
                    transition: $trs;
                }

                &:hover::before {
                    width: 50%;
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: $black;
                    transition: $trs;
                }

                &:hover::after {
                    width: 50%;
                }
            }
        }
    }

    &__logo {
        margin: 20px 0;
        line-height: 0;

        &-link {
            display: block;
            position: relative;
            overflow: hidden;
        }
    }

    // &__info {
    //     position: relative;
    //     display: block;
    //     left: -25%;
    //     top: 190px;
    //     color: rgba($color: $black, $alpha: 0.8);
    // }

    &__title {
        position: relative;
        font-size: 69px;
        font-weight: 500;
        overflow: hidden;
        top: 33%;
        left: 36%;
        // border-right: 3px solid;
    }

    &__descr {
        position: relative;
        max-width: 630px;
        margin: 10px;
        font-size: 18px;
        font-weight: 400;
        text-align: end;
        top: 35%;
        left: 10%;
    }

    &__button {
        margin: 25px 0;
        position: relative;
        top: 35%;
        left: 83%;
    }

    &__columns {
        letter-spacing: $letter-spc;
        display: flex;
        justify-content: center;
    }

    &__col {
        width: calc(100% / 2);
        padding: 0 30px 0;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: middle;
    }

    &__image {
        position: absolute;
        top: 12%;
        animation-name: bluechair;
        animation-duration: 3s;

        img {
            position: relative;
            width: 790px;
            rotate: -20grad;
        }
    }
}

.orangechair {
    position: relative;
    width: 320px;
    top: 26%;
    left: 35%;
    rotate: 18grad;
    animation-duration: 3s;
    animation-name: orangechair;
}

.burger {
    display: none;
    z-index: 9;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: $white;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.header__nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.header__nav.show .line2 {
    opacity: 0;
}

.header__nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.header__nav.show .header__nav-list {
    transform: translateX(0%);
}

@keyframes orangechair {
    from {
        left: -100%;
    }

    to {
        left: 35%;
    }
}

@keyframes bluechair {
    from {
        top: 100%
    }

    to {
        top: 12%
    }
}

@media screen and (max-width: 800px) {
    .header__nav-list {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .burger {
        display: block;
        position: fixed;
        left: 80%;
    }

    .header__nav-list {
        position: fixed;
        z-index: 9;
        top: 8vh;
        right: 0;
        height: 650px;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: $red;
        transform: translateX(100%);
        transition: transform 1s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }

    .header__nav-item-link {
        font-size: 20px;
    }
}